.programs {
	margin: 0;
	padding: 80px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0;
	font-weight: 600;
	font-size: 56px;
	font-style: normal;
	line-height: 1.05;
	max-width: 960px;
	width: 100%;
	color: var(--main-black-color);
}

.subtitle {
	margin: 20px 0 0 0;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-black-color);
}

.container {
	margin: 40px 0 0 0;
	width: 100%;
	display: flex;
	gap: 20px;
	align-items: flex-start;
}

.filter {
	margin: 0;
	width: 425px;
	min-height: 460px;
	padding: 32px;
	box-sizing: border-box;
	border-radius: 24px;
	color: var(--main-black-color);
	background-color: #F6F7F9;
	flex-shrink: 0;
}

.list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	position: relative;
	max-height: 70vh;
	overflow-y: auto;
}

.item {
	position: relative;
	margin: 0;
	padding: 32px;
	box-sizing: border-box;
	border-radius: 24px;
	color: var(--main-black-color);
	background-color: #F6F7F9;
	transition: all .3s ease-out;
	&__tag {
		margin-left: auto;
		padding: 8px 12px;
		width: fit-content;
		border-radius: 8px;
		font-size: 12px;
		font-weight: 400;
		background-color: #D9E8FF;
		color: #072971;
		transition: all .3s ease-out;
	}

	&__title {
		margin: 64px 0 0 0;
		font-size: 24px;
		font-weight: 600;
		line-height: 1.05;
		transition: all .3s ease-out;
	}

	&__text {
		margin: 16px 0 0 0;
		font-size: 16px;
		line-height: 1.15;
	}

	&__info {
		margin: 54px 0 0 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	&__hours {
		margin: 0;
		padding: 0 0 0 24px;
		box-sizing: border-box;
		max-width: 170px;
		width: 100%;
		font-size: 16px;
		line-height: 1.15;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
			background-image: url('../../../../shared/images/hours.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1;
		}
	}

	&__form {
		margin: 0;
		padding: 0 0 0 24px;
		box-sizing: border-box;
		max-width: 170px;
		width: 100%;
		font-size: 16px;
		line-height: 1.15;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
			background-image: url('../../../../shared/images/form.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1;
		}
	}

	&:hover {
		color: #072971;
		background-color: #D9E8FF;
	}
}

.item:hover .item__tag {
	background-color: var(--main-white-color);
	color: #2052B2;
}

.item:hover .item__hours::before {
	background-image: url('../../../../shared/images/hours-color.svg');
}

.item:hover .item__form::before {
	background-image: url('../../../../shared/images/form-color.svg');
}


