@font-face {
	font-family: 'Helvetica';
	src: local('Helvetica Light'), local('Helvetica-Light'),
		url('Helvetica-Light.woff2') format('woff2'),
		url('Helvetica-Light.woff') format('woff'),
		url('Helvetica-Light.eot') format('eot'),
		url('Helvetica-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: local('Helvetica'), local('Helvetica'),
		url('Helvetica.woff2') format('woff2'),
		url('Helvetica.woff') format('woff'),
		url('Helvetica.eot') format('eot'),
		url('Helvetica.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica';
	src: local('Helvetica Bold'), local('Helvetica-Bold'),
		url('Helvetica-Bold.woff2') format('woff2'),
		url('Helvetica-Bold.woff') format('woff'),
		url('Helvetica-Bold.eot') format('eot'),
		url('Helvetica-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'RoadRadio';
	src: local('RoadRadio Bold'), local('RoadRadio-Bold'),
		url('RoadRadio-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Thin'), local('Gilroy-Thin'),
		url('Gilroy-Thin.woff') format('woff'),
		url('Gilroy-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Light'), local('Gilroy-Light'),
		url('Gilroy-Light.woff') format('woff'),
		url('Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy'), local('Gilroy-Regular'),
		url('Gilroy-Regular.woff') format('woff'), url('Gilroy-Regular.woff') format('woff'),
		url('Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
		url('Gilroy-Medium.woff') format('woff'),
		url('Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('Gilroy-Bold.woff') format('woff'),
		url('Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Black'), local('Gilroy-Black'),
		url('Gilroy-Black.woff') format('woff'),
		url('Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
