.stages {
	margin: 0;
	padding: 80px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	gap: 20px;
}

.column {
	margin: 0;
	width: 100%;
	max-width: 425px;
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0;
	font-weight: 600;
	font-size: 56px;
	font-style: normal;
	line-height: 1.05;
	width: 100%;
	color: var(--main-black-color);
}

.subtitle {
	margin: 20px 0 0 0;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-black-color);
	max-width: 350px;
}