.main {
	margin: 0;
	padding: 20px 80px 80px;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.title {
	margin: 80px 0 0 0;
	font-weight: 600;
	font-size: 68px;
	font-style: normal;
	line-height: 1.05;
	color: var(--main-black-color);
	&_color_blue {
		color: var(--main-blue-light-color);
	}
}

.subtitle {
	margin: 20px 0 0 0;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.15;
	max-width: 640px;
	color: var(--main-black-color);
}

.background {
	position: relative;
	margin: 40px 0 0 0;
	width: 100%;
	height: 100%;
	border-radius: 24px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.video {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(
		90deg,
		#072971 0%,
		#245BC2CC 40%,
		#D9E8FF4D 100%
	);
	z-index: 2;
}

.info {
	margin: auto 60px 40px;
	width: calc(100% - 120px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 5;
}

.caption {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 12px;
}

.text {
	margin: 0;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-white-color);
}

.point {
	margin: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--main-white-color);
}

.buttons {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 20px;
}

@media (max-width: 1600px) {
	.main {
		padding: 20px 40px 40px;
	}
}

@media (max-width: 1440px) {
	.main {
		padding: 20px;
	}
}
