.trigger {
	display: inline-flex;
}

.tooltip {
	position: absolute;

	padding: 16px;
	max-width: 400px;

	background-color: var(--main-blue-background-color);
	border: 1px solid var(--main-blue-color);
	border-radius: var(--border-radius);

	z-index: 20000;

	opacity: 0;
	animation: fadeIn .25s forwards;

	overflow-wrap: break-word;
	pointer-events: none;
}

@keyframes fadeIn {
	to { opacity: 1; }
}