.footer {
	margin: 0;
	width: 100%;
	background-color: #072971;
}

.container {
	margin: 0;
	padding: 80px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.main {
	margin: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
}

.column {
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	margin: 0;
	font-weight: 600;
	font-size: 36px;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-white-color);
}

.text {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-white-color);
}

.bottom {
	margin: 80px 0 0 0;
	padding: 40px 0 0 0;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #ffffff;
}

.copy {
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-white-color);
}
