.company {
	margin: 0;
	padding: 80px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.caption {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 12px;
	&__text {
		margin: 0;
		font-weight: 500;
		font-size: 16px;
		font-style: normal;
		line-height: 1.15;
		color: var(--main-black-color);
	}
	&__point {
		margin: 0;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: var(--main-black-color);
	}
}

.list {
	margin: 40px 0 0 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.item {
	margin: 0;
	width: 100%;
	max-width: 20%;
	padding: 20px 0;
	box-sizing: border-box;
	border-radius: 8px;
	background-color: #F6F7F9;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-black-color);
	user-select: none;
	pointer-events: none;
}

/* Первый ряд — отступ справа */
.item:nth-child(-n + 4) {
	margin-right: 40px;
}

/* Второй ряд — отступ слева */
.item:nth-child(n + 5):nth-child(-n + 8) {
	margin-left: 40px;
}

.img {
	margin: 0;
	width: 100%;
	height: 40px;
	object-position: center;
	object-fit: contain;
}

@media (max-width: 1600px) {
	.company {
		padding: 40px;
	}
	.title {
		max-width: 720px;
		font-size: 44px;
	}
}

@media (max-width: 1440px) {
	.company {
		padding: 40px 20px;
	}
	.img {
		height: 32px;
	}
}