.company {
	margin: 0;
	padding: 80px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.caption {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 12px;
	&__text {
		margin: 0;
		font-weight: 500;
		font-size: 16px;
		font-style: normal;
		line-height: 1.15;
		color: var(--main-black-color);
	}
	&__point {
		margin: 0;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: var(--main-black-color);
	}
}

.list {
	margin: 60px 0 0 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 20px;
}

.item {
	margin: 0;
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	border-radius: 8px;
	background-color: #F6F7F9;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	line-height: 1.15;
	color: var(--main-black-color);
	user-select: none;
	pointer-events: none;
}
