.wrapper {
  position: relative;
  width: 100%;
}

.input {
  margin: 0;
  width: 100%;
  padding: 9px 40px 9px 16px;
  box-sizing: border-box;
  border: 1px solid var(--main-grey-light-color);
  border-radius: var(--border-radius);
  background: var(--main-white-color);
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
	outline: none;
  transition: border-color .3s ease-in-out;

  &:hover {
    border-color: var(--main-grey-color);
  }

  &:focus,
  &:active,
	&:focus-visible {
    border-color: var(--main-blue-color);
  }

	&.disabled {
    background: var(--main-grey-light-color);
    color: var(--main-grey-color);
    border-color: var(--main-grey-color);
    cursor: not-allowed;

    &:hover {
      border-color: var(--main-grey-color);
    }
  }

  &::placeholder {
    font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: var(--main-grey-color);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

.input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--main-blue-background-color) inset !important;
  -webkit-text-fill-color: var(--main-black-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* При hover в авто-заполненном состоянии */
.input:-webkit-autofill:hover {
  box-shadow: 0 0 0 1000px var(--main-blue-background-color) inset !important;
}

/* При focus в автозаполнении */
.input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px var(--main-white-color) inset !important;
  border-color: var(--main-blue-color);
}

.toggle {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url('../../../../images/icons/eye.svg') center/contain no-repeat;
	outline: none;
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover {
    opacity: 0.7;
  }

  &.active {
    background-image: url('../../../../images/icons/eye-off.svg');
  }
}

.stub {
	margin: 0;
  width: 100%;
  padding: 9px 16px 9px 16px;
  box-sizing: border-box;
  border: 1px solid var(--main-grey-light-color);
  border-radius: var(--border-radius);
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
	outline: none;
  transition: border-color .3s ease-in-out;
	background: var(--background-color);
	cursor: default;
}
