.header {
	margin: 0;
	width: 100%;
	height: 58px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin: 0;
	width: 277px;
	height: 48px;
	background-image: url('../../../../shared/images/logo.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}

.nav {
	margin: 0;
	padding: 20px 40px;
	box-sizing: border-box;
	background-color: var(--main-grey-background-color);
	border-radius: 12px;
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		gap: 60px;
	}
	&__item {
		margin: 0;
		font-weight: 500;
		font-size: 16px;
		font-style: normal;
		line-height: 1.15;
		color: var(--main-black-color);
		transition: all .3s ease-in-out;
		cursor: pointer;
		&:hover {
			color: var(--main-blue-light-color);
		}
	}
}

@media (max-width: 1600px) {
	.logo {
		width: 220px;
		height: 40px;
	}
}

@media (max-width: 1440px) {
	.main {
		padding: 20px;
	}
	.nav {
		padding: 20px 24px;
		&__list {
			gap: 32px;
		}
	}
}

