@keyframes infoFade {
	from {
		opacity: 0;
		transform: translateX(10px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.container {
	margin: 4px 0 0 0;
	width: 100%;
	padding: 0 0 8px 0;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	&_margin_bottom {
		margin-bottom: 60px;
	}
}

.header {
	margin: 0 0 4px 0;
	display: flex;
	align-items: center;
}

.title {
	margin: 0 8px 0 0;
	color: var(--main-black-color);
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

.tooltip__icon {
	margin: 0;
	width: 20px;
	height: 20px;
	background-image: url('../../../../images/icons/info.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity .3s ease-in-out;

	&:hover {
		background-image: url('../../../../images/icons/info-active.svg');
	}
}

.tooltip__text {
	margin: 0;
	color: var(--main-black-color);
	font-size: 14px;
	line-height: 18px;
}

.error {
  margin: 0;
  color: var(--accent-red-color);
  font-size: 12px;
  height: 12px;
  display: block;
  opacity: 0;

  &_status_show {
    opacity: 1;
  }
}