.advantages {
	margin: 0;
	padding: 80px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	margin: 0;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.title {
	margin: 0;
	font-weight: 600;
	font-size: 56px;
	font-style: normal;
	line-height: 1.05;
	max-width: 960px;
	width: 100%;
	color: var(--main-black-color);
}

.subtitle {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	line-height: 1.15;
	max-width: 350px;
	color: var(--main-black-color);
}

.list {
	margin: 48px 0 0 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

.item {
	position: relative;
	margin: 0;
	padding: 40px 32px 80px;
	box-sizing: border-box;
	border-radius: 24px;
	overflow: hidden;
	color: var(--main-white-color);
	&_type_1 {
			&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-image: url('../../../../shared/images/adv-1.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
		}
	}

	&_type_2 {
			&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-image: url('../../../../shared/images/adv-2.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
		}
	}

	&_type_3 {
			&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-image: url('../../../../shared/images/adv-3.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
		}
	}

	&_type_4 {
			&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-image: url('../../../../shared/images/adv-4.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
		}
	}

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(
			0deg,
			#19307F 0%,
			#2C5CB7CC 63%,
			#D9E8FF4D 100%
		);
		z-index: 2;
	}

	& > * {
		position: relative;
		z-index: 3;
	}

	&__tag {
		margin-left: auto;
		padding: 8px 12px;
		width: fit-content;
		border-radius: 8px;
		font-size: 12px;
		font-weight: 400;
		background-color: var(--main-white-color);
		color: #19307f;
	}

	&__title {
		margin: 182px 0 0 0;
		font-size: 44px;
		font-weight: 600;
		line-height: 1.05;
	}

	&__text {
		margin: 16px 0 0 0;
		font-size: 16px;
		line-height: 1.15;
	}
}
