.link {
	margin: 0;
	width: 100%;
	text-align: center;
	color: var(--main-blue-color);
	text-decoration: underline;
	transition: all .3s ease-in-out;
	&:hover {
		cursor: pointer;
		opacity: .7;
	}
}
