.container {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.info {
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.caption {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	line-height: 1;
	color: var(--main-black-color);
}

.percent {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	line-height: 1;
	color: var(--main-blue-color);
	&_color_grey {
		color: var(--main-grey-color);
	}
}

.progress {
	width: 100%;
	height: 8px;
	background-color: var(--main-grey-background-color);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.progress__fill {
	height: 100%;
	background-color: var(--main-blue-color);
	border-radius: var(--border-radius);
	transition: width 0.3s ease;
}
